.comelli-barra {
    margin-bottom: 1.5rem;

    &:last-child {
        margin-bottom: 0;
    }
    .row {
        & > *{
            padding: 0 .5rem;
            margin: auto 0;
        }
    }

    .desc {
        color: white;
        font-weight: 400;
        font-size: .9rem;
        text-align: right;
    }

    .percent {
        color: #FFE14D;
        font-weight: 600;
        font-size: .9rem;
    }

    .progress-wrap {
        
        .progress {
            border-radius: 50rem !important;
            overflow: hidden;
            background-color: rgba(#FFFFFF, .3);
            
            .progress-bar {
                background: linear-gradient(270deg, #fab319 0%, #ffe14d 100%);
            }
        }
    }
}
